<div style="position: relative">
					<img src="{{getStaticMap(rute)}}">
					<button class="fab-map disable-hover button button-default button-fab button-icon-only button-fab-top" fab="" fab-right="" fab-top="">
						<icon ion-ios-pin></icon>
					</button>
				</div>
				<ion-item class="item">
					<ion-avatar class="icon-avatar" item-left="" [ng-switch]="item.categoryId">
						
						<icon *ng-switch-when="'senderos'" ion-android-walk></icon>

						<icon *ng-switch-when="'parapente'" ion-ios-paperplane></icon>

						<icon *ng-switch-when="'mtb'" ion-clipboard></icon>

			    	</ion-avatar>
			    	<div class="item-inner">
			    		<ion-item-content cnt="">
			    			<h2>{{rute.NAME}}</h2>
			    			<p *ng-if="rute.TIPO">{{rute.TIPO}}</p>
			  			</ion-item-content>
			  		</div>
			  	</ion-item>
				
				<ion-item class="item" *ng-if="rute.DIFICULTAD">
					<ion-avatar class="icon-avatar" item-left="">
						<icon ion-wand></icon>
					</ion-avatar>
						<div class="item-inner">
							<ion-item-content cnt="">
								<h2>{{rute.DIFICULTAD}}</h2>
								<p>Dificultad</p>
							</ion-item-content>
						</div>
				</ion-item>
				
				
				<div class="more-info" (click)="showMoreContent(i)">
					<ion-item class="item">
						<ion-avatar class="icon-avatar" item-left="">
							<icon ion-alert></icon>
						</ion-avatar>
						<div class="item-inner">
								<ion-item-content cnt="">
									<h2>More Information</h2>
								</ion-item-content>
							</div>
					</ion-item>
				<div class="more-content">
				<!-- parapente -->


				<ion-item class="item" *ng-if="rute.ALTITUD">
					<ion-avatar class="icon-avatar" item-left="">
						<icon ion-social-buffer></icon>
					</ion-avatar>
						<div class="item-inner">
							<ion-item-content cnt="">
								<h2>{{rute.ALTITUD}}</h2>
								<p>Altitud</p>
							</ion-item-content>
						</div>
				</ion-item>

				<ion-item class="item" *ng-if="rute.ALTITUD">
					<ion-avatar class="icon-avatar" item-left="">
						<icon ion-social-buffer></icon>
					</ion-avatar>
						<div class="item-inner">
							<ion-item-content cnt="">
								<h2>{{rute.ALTITUD}}</h2>
								<p>Altitud</p>
							</ion-item-content>
						</div>
				</ion-item>

				<ion-item class="item" *ng-if="rute.ATERRIZAJE">
					<ion-avatar class="icon-avatar" item-left="">
						<icon ion-android-notifications-none></icon>
					</ion-avatar>
						<div class="item-inner">
							<ion-item-content cnt="">
								<h2>{{rute.ATERRIZAJE}}</h2>
								<p>Aterrizaje</p>
							</ion-item-content>
						</div>
				</ion-item>

				<ion-item class="item" *ng-if="rute.DESNIVEL">
					<ion-avatar class="icon-avatar" item-left="">
						<icon ion-android-notifications-none></icon>
					</ion-avatar>
						<div class="item-inner">
							<ion-item-content cnt="">
								<h2>{{rute.DESNIVEL}}</h2>
								<p>Desnivel</p>
							</ion-item-content>
						</div>
				</ion-item>
				<!-- end parapente -->
					</div>
				</div>

				
				
				<ion-item actions="" class="item">
					<div item-left="" [style.display]="!rute.LONGITUD? 'none':'block'">
						<span class="item-bold" item-left="">{{rute.LONGITUD | distance:'km'}}</span>
						<span class="item-subtle" item-left="">Km</span>
					</div>
					<button clear="" item-left="" primary="" class="disable-hover button button-clear button-icon-left button-clear-primary">
				      <icon ion-md-text></icon>
				      <div>Comments</div>
				    </button>

					<div class="item-inner">
						<ion-item-content cnt=""></ion-item-content>
						<button clear="" item-right="" primary="" class="disable-hover button button-clear button-icon-left button-clear-primary">
	  						<icon ion-md-navigate></icon>Start
	  					</button>
	  				</div>
      			</ion-item>