<ion-navbar *navbar>
  <ion-title>Comentarios</ion-title>
  <ion-buttons start>
    <button (click)="addComment()"><icon add></icon>Crear comentario</button>
  </ion-buttons>
</ion-navbar>
<ion-content>
<loading *ngIf="loading"></loading>
<template [ngIf]="comments.length > 0 ">
<ion-list>
  <ion-item *ngFor="#comment of comments, #i=index">
    <ion-avatar item-left class="icon-avatar">
      <icon contact></icon>
    </ion-avatar>
    <h2>{{comment.attributes['Tramitación']}}</h2>
    <h3>{{comment.attributes['Tipología']}}</h3>
    <h3>Riesgo:{{comment.attributes['Supone_riesgo_']}}</h3>
    <p>{{comment.attributes['Descripción']}}</p>
  </ion-item>
</ion-list>
</template>
<template [ngIf]="noReports">
<div padding class="no-comments">
    <ion-avatar class="icon-avatar">
        <icon chatbubbles></icon>
    </ion-avatar>
    <p>No hay comentarios disponibles para esta actividad</p>
    <button (click)="addComment()">Crear un comentario</button>
</div>
</template>
</ion-content>