.header-detail{
	padding: 10px;
	background: linear-gradient(-90deg,#E9E3DE,#E4D6CB,#E9E3DE);
	position: relative;
	color:#594D48;
}
	.header-detail .avatar{
		position: absolute;
	    width: 10rem;
	    height: 10rem;
	    text-align: left;
	    overflow: hidden;
	    border-radius: 15rem;
	    bottom: -5rem;
	    left: 3rem;
	}
	.header-detail .avatar img{
		max-height: 10rem;
	} 
.content-item{
	padding: 8px;
	text-align: left;
	padding-left: 14rem;
	padding-top: 1rem;
}
	.content-item h2{
		font-weight: lighter;
		font-size: 2.5rem;
	}
	.content-item p{
		margin: 0rem;
	}

.tab-nav {
	display: block;
    width: 100%;
    padding: 1.8rem;
    padding-left: 15rem;
    margin: 0;
    border-bottom: 1px solid #E0D6D6;

}
	.tab-nav li{
		display: inline;
		text-decoration: none;
		padding: 10px 5px;
		text-align: center;
		color: #758695;
	}
	.tab-nav li.active{
		color: #758695;
	}
	.tab-nav::after,.tab-nav li::after {
		clear: both;
	}
#content-description{
	padding: 2rem;
	
}
	#content-description li{
		text-decoration: none;
		list-style: none;
	}
		#content-description li h2{
			font-size: 1.4rem;
			color:#594D48;
			margin: 0rem;
			margin-top: 1rem;
		}
		#content-description li p{
			color:#666666;
			margin: 0rem;
			padding: 0 1rem;
		}


ion-card.adv-map p {
  font-size: 0.7em !important; }

p.time-ago {
  color: #bbbbbb !important;
  margin-left: 4px !important;
  margin-right: 0px !important; }

button[fab].fab-map {
  top: 190px;
  z-index: 50; }

body.ios button[fab].fab-map {
  width: 50px;
  height: 50px; }

body.md button[fab].fab-map {
  top: 1rem;
  position: relative;
  margin-top: -2.5rem;
  right: -75%;
}

ion-card .icon-avatar {
  margin: 10px 8px;
  min-width: 2.4rem !important;
  color: #444444;
  font-size: 1.8em;
  text-align: center; }

ion-card img{
	display: block;
	position: relative;
	width: 100%;

}

.ios [item-left] {
    margin: 6px 16px 6.5px 0;
}
.md [item-left], .md [item-right] {
    margin: 9px 8px 9px 0;
}
.item-bold {
    font-weight: bold;
    color: #32DB64;
}
.more-info ion-item-content{
	white-space: normal !important;
}
.item-subtle {
    color: #656565;
    margin-left: -3px !important;
}
.more-info .more-content{
	display:none;
}
.more-info ul{
	padding: 0px;
	margin: 0px; 
}
.more-info ul.table-style li{
	list-style: none;
	display: inline-block;
}
